[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tabula-py = "*"
setuptools = "*"
wheel = "*"
numpy = "*"
voliboli-pdf-scraper = "*"

[dev-packages]
pipenv-setup = "*"

[requires]
python_version = "3.10"
