[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tabula-py = "2.7.0"
setuptools = "67.6.0"
wheel = "0.38.4"
numpy = "1.24.2"
sgqlc = "*"
requests = "*"
voliboli-sgqlc-types = "*"
voliboli-pdf-scraper = "*"

[dev-packages]
pipenv-setup = "*"

[requires]
python_version = "3.10"
