[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tabula-py = "*"
flask = "*"
flask-sqlalchemy = "*"
beautifulsoup4 = "*"
requests = "*"
twine = "*"
setuptools = "*"
wheel = "*"
voliboli-pdf-scraper = {editable = true, path = "."}

[dev-packages]

[requires]
python_version = "3.10"
